        h1 {
        	font-size: 130px;
        	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px white, 1px 1px 0 white;
        	text-align: center;
        	font-weight: 700;
        	padding: 50px;
        	background-color: blueviolet;
        	margin: 0;
        	background-image: url("images/foodbg.jpg");
        	background-size: cover;
        }

        h2 {
        	font-size: 60px;
        	text-decoration: underline;
        	padding: 20px;
        	margin-bottom: 20px;
        }

        p {
        	margin-left: 30px;
        	font-size: 20px;
        }

        input {
        	width: 600px;
        	height: 100px;
        	padding: 5px 0px 5px 0px;
        	font-weight: 700;
        	color: white;
        	background-color: rgb(206, 44, 15);
        	font-size: 20px;
        	font-weight: 700;
        }

        .input {
        	margin: 40px;
        	display: flex;
        	justify-content: center;
        }